
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
    box-sizing: border-box;
    --text: #f5e2f8;
    --background: #282a36;
    --primary: #ff79c6;
    --secondary: #21222c;
    --accent: #ea87b6;
    --contrast: #282a36;
    --contrast2: #21222c;
}

body,
html {
    width: 100svw;
    height: 100svh;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    background-color: var(--background);
    color: var(--text);
}

/* COLORS 

Background - #1a1b26

Primary color - #191725

Secondary color - #ebbcba

Other colors - #EA9AB2, #EFCFE3, 



*/

/*HomePage content*/

.content--wrapper {
    display: flex;
    flex-direction: column;
    width: 100svw;
    height: 100svh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.welcome-message {
    font-family: "Ubuntu", sans-serif;
    font-size: 2em;
    margin-bottom: 2em;
}

.links-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5em;
}

.link-section {
    background-color: var(--contrast2);
    padding: 1em;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1em;
}

.link-section-name {
    display: flex;
    align-items: center;
    gap: 0.20em;
    justify-content: center;
    font-family: "Ubuntu", sans-serif;
    font-size: 2em;
    position: relative;
}

.link-section-name::before {
    content: "";
    position: absolute;
    height: 0.3em;
    width: 110%;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    background-color: rgba(255, 0, 0, 0.404);
    transition: height 0.5s;
}

.link-section-name:hover::before {
    height: 0.6em;
}

.link-section-name img {
    height: 1em;
    aspect-ratio: 1/1;
    color: var(--text);
}

.link-section__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em
}

.page-link {
    background-color: var(--contrast);
    width: 7em;
    height: 7em;
    border-radius: 10px;
    padding: 1em;
}

.link-img {
    width: 100%;
}

/* PRE KUTU*/
.home-title {
    height: 1em;
    font-family: "Ubuntu", sans-serif;
    font-size: 3.5vw;
}

.block {
    width: 15em;
    height: 15em;
    display: flex;
    flex-direction: row;
    margin-inline-start: 3em;
}

.block-title {
    font-family: "Ubuntu", sans-serif;
    font-size: 1vw;
}

.link-column {
    width: 7.5em;
    height: 100%;
    margin-block-start: 5em;
}


/*
.page-link {
    
    
    border: #ebbcba;
    border-style: solid;
    border-radius: 15px;
    margin-inline-end: 1em;
    margin-block-start: 0.5em;
    transition: 0.3s transform;
}*/

.page-link:hover {
    transform: scale(1.1);
    background-color: #5c5258;

}



/* POST KUTU */
